@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
body{
  margin:0;
  text-align: center;
  font-family: 'Tiro Bangla', serif;
  font-size: 25px;
}
h1{
  margin-top: 0;
  font-size: 100px;
}

.topcontainer {background-color: #A1E3D8;
  position: relative;
  padding-top: 100px;
}


.middlecontainer{

}



.bottomcontainer {

}

.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}

.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;

}

.profile{
  width:25%;
}

.skill-row{

}
